$fresh: #F7F5E6;
$vermillion: #333A56;
$sunshine: #52658F;
$clean: #E8E8E8;

// OR

$ochre: #C06014;
$pastel: #EDDBCD;
$black: #000000;
$grey: #CDCDCD;

* {
  box-sizing: border-box;
}

.centered {
  margin: 0px auto;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  // background: $clean;
  color: $black;
}

a {
  text-decoration: none;
}

.header {
  margin-bottom: 10px;
}

.header nav {
  background-color: $sunshine;
}

.header nav div li {
  a {
    font-weight: bold;
  }
}

.header nav div li:hover {
  background-color: $vermillion;
}

.home {
  height: 500px;
  background-image: url('../images/home-img.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  h3 {
    color: $vermillion;
    font-weight: bold;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 310px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: $clean;
}

.card-image {
  height: 250px;
  overflow: hidden;
}

.order-box {
  display: block;
  color: $fresh;
}

/* item counter in cart */
i {
  width: 50px;
  /* text-align: center; */
  vertical-align: middle;
  position: relative;
}

.badge::after {
  content: attr(data-count);
  position: absolute;
  background: #ff6600;
  height: 1.5rem;
  width: 1.5rem;
  top: 1rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 50%;
  color: white;
  border: 1px solid #ff6600;
  font-family: sans-serif;
  font-weight: bold;
}

/* end of cart count css */
table {
  margin: 30px 0px;
}

.clear-btn {
  float: right;
  color: red;
}

.remove-btn {
  color: red;
}

.add-btn {
  color: green;
}

.contacts {
  // border: 1px dotted greenyellow;
  // height: calc(100vh - 100px);
  display: grid;
}

.contacts-img {
  // todo
  height: 500px;
  background-image: url('../images/contact-us.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.map {
  margin-bottom: 20px;
}

.mapouter {
  text-align: right;
  height: 400px;
  width: 600px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 400px;
  width: 600px;
}

.cart-buttons {
  margin-top: 30px;
}