* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: rgb(247, 246, 242);
  color: #333;
}

a {
  text-decoration: none;
}

.button {
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  background: rgb(6, 40, 68);
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.header {
  margin-bottom: 20px;
}

.header nav {
  background-color: black;
}

.header nav div.nav-wrapper a.brand-logo {
  padding-left: 15px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 310px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: azure;
}

.shopping-cart-head {
  display: inline-block;
  background: steelblue;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.empty-cart-btn,
.cart-checkout {
  display: none;

}

.empty-cart-btn {
  margin-bottom: 5px;
  display: inline-block;
}

.cart-checkout {
  background: limegreen;
  display: inline-block;
}

.hidden {
  display: none;
}

/* item counter in cart */
i {
  width: 50px;
  /* text-align: center; */
  vertical-align: middle;
  position: relative;
}

.badge:after {
  content: attr(data-count);
  position: absolute;
  background: #ff6600;
  height: 1.5rem;
  width: 1.5rem;
  top: 1rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 50%;
  color: white;
  border: 1px solid #ff6600;
  font-family: sans-serif;
  font-weight: bold;
}

/* end of cart count css */